html, body {
	font-family: 'PT Sans Caption',sans-serif;
}

.introduction img {
	margin: auto;
	height: 150px;
	width: 150px;
}

.menu, .introduction {
	font-family: 'Bitter', serif;
	height: 50%;
}

.introduction .intro-data {
	display: inline;
	padding: 1%;
}

.content-container >div:nth-last-of-type(2) {
	padding-bottom: 52px;
}

.portfolio .small-heading {
	font-size: 2.5rem;
	padding: 60px 0;
}

.project-items {
	padding: 0 10px;
}

.project-items .project {
	margin-top: 50px;
	font-size: 0.86rem;
	height: 180px;
	padding: 10px;
	background: white;
	box-shadow: 3px 3px 10px 2px #bbb;
}

.project:hover {
	cursor: pointer;
}

.project-card {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.project-name {
	font-size: 2rem;
	text-align: center;
}

.project-desc {
	text-align: center;
	opacity: 0.8;
}

.project-sticker {
	position: relative;
	height: 18px;
	top: 0;
	right: -15px;
}

.project-link {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-bottom: 40px solid #00B6F9;
	border-left: 40px solid transparent;
}

.project-sticker .sticker-container {
	position: absolute;
	right: 0;
	width: 75px;
	height: 18px;
}

.sticker-container p {
	text-transform: uppercase;
	text-align: left;
	font-size: 0.8rem;
	line-height: 18px;
	margin-left: 5px;
	padding-left: 5px;
	background: #00B6F9;
}

.project-sticker .triangle-effect {
	position: absolute;
	right: 0;
	top: 100%;
	width: 0;
	height: 0;
	border-left: 5px solid black;
	border-bottom: 5px solid transparent;
}

.project-holder,.project-holder-triangle {
	width: 0;
	height: 0;
}

.project-holder.left {
	position: absolute;
	bottom: -4px;
	left: -4px;
	border-bottom: 30px solid #00B6F9;
	border-right: 30px solid transparent;
}

.project-holder.right {
	position: absolute;
	bottom: -4px;
	right: -4px;
	border-bottom: 30px solid #00B6F9;
	border-left: 30px solid transparent;
}

.left .project-holder-triangle.left {
	position: absolute;
	top: -3px;
	border-right: 4px solid rgba(0,0,0,0.5);
	border-top: 3px solid transparent;
	border-bottom: 4px solid transparent;
}

.left .project-holder-triangle.right {
	position: absolute;
	right: -33px;
	bottom: -30px;
	border-right: 3px solid transparent;
	border-top: 4px solid rgba(0,0,0,0.5);
	border-left: 4px solid transparent;
}

.right .project-holder-triangle.left {
	position: absolute;
	top: -3px;
	left: -4px;
	border-left: 4px solid rgba(0,0,0,0.5);
	border-top: 3px solid transparent;
	border-bottom: 4px solid transparent;
}

.right .project-holder-triangle.right {
	position: absolute;
	left: -33px;
	bottom: -30px;
	border-right: 3px solid transparent;
	border-top: 4px solid rgba(0,0,0,0.5);
	border-left: 4px solid transparent;
}

@media screen and (max-width: 300px) {
	.project-items .project {
		font-size: 0.8rem;
		height: 200px;
	}
}

@media screen and (min-width: 480px) {
	.introduction img {
		height: 175px;
		width: 175px;
	}
	.introduction .intro-content h1 {
		font-size: 30px;
	}
	.introduction .intro-content h2 {
		font-size: 20px;
	}

	.project-items .project {
		font-size: 0.9rem;
		height: 180px;
	}
}

@media screen and (min-width: 768px) {
	.introduction img {
		height: 200px;
		width: 200px;
	}
	.introduction .intro-data {
		position: absolute;
		width: 100%;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%,-50%);
	    -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	    -o-transform: translate(-50%,-50%);
	    transform: translate(-50%,-50%);
	}

	.menu .heading .btn-desc {
		width: calc(100% - 100px);
		padding: 1% 0;
	}
	.menu .heading .btn-image {
		width: 60px;
		margin-right: 20px;
		padding: 0;
	}
	.menu, .introduction {
		height: 100%;
	}
	.project-items .project {
		font-size: 1rem;
		height: 160px;
	}
}

@media screen and (min-width: 1170px) {
	.introduction img {
		height: 250px;
		width: 250px;
	}
}